.cart-page-layout{
    display: grid;
    /* grid-template-columns: 2fr 2fr 1fr; */
    grid-template-areas: 
    "sub-nav sub-nav sub-nav"
    "navbar navbar navbar"
    "cart-product cart-product price-detail"
    "footer footer footer";
}

.sub-nav{
    grid-area: sub-nav;
}

.card-footer > .btn{
    font-weight: 500;
}

.navbar{
    grid-area: navbar;
    margin-bottom: 2rem;
}

.cart-product-container{
    grid-area: cart-product;
  
}

.cart-product-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(47rem, max-content));
    grid-gap: 1.5rem;
    padding: 0;
    justify-content: center;
}

.cancel-btn > i{
    color: #df1818;
    cursor: pointer;
}

.circular-btn{
    cursor:pointer;
    width: 28px;
    height: 28px;
    border: 1px solid var(--grey);
    border-radius: 50%;
    text-align:center;
    font-size: 16px;
    margin-left: 2px;
    margin-right: 2px;
    line-height: 1;
    padding-top: 4px
}

.qty{
    display: flex;
}

.qty-input{
    width: 40px;
    text-align: center;
    padding: 0.5px 1px;
    outline: none;
    font-weight: bold;
}

input:focus{
    outline: none;
    box-shadow: none;

}

.price-detail-container{
    grid-area: price-detail;
    position: relative;
}

.price-details{
    position: sticky;
    margin-top: 4rem;
    margin-bottom: 3rem;
    top: 19rem;
    width: 34rem;
    padding: 2.5rem 2rem;
    border: 0.5px solid var(--dark-grey);
    margin: 2rem;
    height: 35rem
}

.price-details > h4 {
    border-bottom: 1px solid var(--grey);
}

.price-details > .price:nth-last-child(3){
    border-bottom: 1px solid var(--grey);
}

.price-total:nth-last-child(1){
    border-bottom: 1px solid var(--grey);
}

.price-details > *{
    padding-bottom: 1.5rem;
}

.price-details > .price{
    display: flex;
    justify-content: space-between;
}

.price-heading{
    font-size: 1.6rem;
}

.amount{
    font-size: 1.5rem
}

.price-total{
    margin-top: 1.5rem;
    border-bottom: 1px solid var(--grey);
}

.order{
    width: 100%;
    padding: 1.5rem;
}

.footer{
    grid-area: footer;
}


/* input box arrows remove */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}