.sidebar-container {
    position: relative;
    margin-left: 1rem;
}

.sidebar {
    position: sticky;
    border-right: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 3rem;
    padding-left: 5px;
    padding-top: 2rem;
    overflow-y: auto;
    top: 10rem;
    height: calc(100vh - 8.125rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-container {
    margin-top: 2rem;
    margin-left: 3rem;
    width: 120rem;
}

.result-heading {
    margin: 1rem 1rem 3rem 0;
}

.txt-grey {
    color: var(--grey);
}

.product-list {
    list-style: none;
    /* grid-template-columns: repeat(4, 1fr); */
}

.product-container .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25.5rem, max-content));
    gap: 1.6rem;
    padding: 0;
    justify-content: center;
}


.no-search {
    margin-top: 5rem
}

/* --- for sidebar --- */

.categories-container {
    border-bottom: 0.5px solid var(--grey);
}

.category-list {
    list-style: none;
}

.category-list-item {
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.category-list-item:hover {
    color: var(--primary-color)
}

.category-list-item:first-child {
    margin-top: 1.2rem;
}

.category-list-item:last-child {
    margin-bottom: 2rem;
}


.sidebar-heading {
    font-size: 1.5rem;
    font-weight: 600;
}

.filter-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-heading>.btn {
    height: 3rem;
    align-items: center;
    line-height: 2px;
    font-weight: 400;
    font-size: 1.4rem;
}

.filter-btn {
    display: none;
}

ul {
    list-style: none;
}

.all-product-container {
    justify-content: center;
}

@media only screen and (max-width: 870px) {

    .result-heading {
        margin: 0.5rem
    }

    .all-product-container {
        justify-content: unset;
    }

    .sidebar-container {
        display: none;
        position: fixed;
        z-index: 2;
        background-color: white;
        margin-left: 0;
    }

    .category-list-item {
        cursor: inherit;
    }

    .category-list-item label {
        cursor: pointer;
    }

    .filter-btn {
        display: block;
        margin-left: auto;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

    .btn-icon {
        color: var(--primary-color);
        margin-right: 0.6rem;
    }

    .sidebar-container .btn-close {
        display: block;
        margin-left: auto;
        margin-right: 1.8rem;
        font-size: 2rem;
        padding: 0.5rem
    }

    .product-container {
        margin-left: 2rem
    }

    .product-container .card-container {
        grid-template-columns: repeat(auto-fit, minmax(21rem, max-content));
        gap: 1.2rem;
    }

}

@media only screen and (max-width: 480px) {
    .product-container .card-container {
        grid-template-columns: repeat(auto-fit, minmax(18.2rem, max-content));
        gap: 0.8rem;
    }

    .all-product-container {
        justify-content: unset;
    }

    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}