.wishlist-main {
    margin-top: 2.5rem;
}

.wishlist-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, max-content));
    gap: 1.6rem;
    padding: 5px;
    justify-content: center;
}

.heart-select>i {
    color: var(--red);
}

@media only screen and (max-width: 1148px) {
    .product-list {
        list-style: none;
        grid-template-columns: repeat(3, 1fr);
    }

}

@media only screen and (max-width: 870px) {
    .wishlist-card-container {
        grid-template-columns: repeat(auto-fit, minmax(21rem, max-content));
        gap: 1.2rem;
        margin-left: 2rem;
    }

}

@media only screen and (max-width: 597px) {
    .product-list {
        list-style: none;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width: 480px) {
    .wishlist-card-container {
        grid-template-columns: repeat(auto-fit, minmax(16rem, max-content));
        gap: 0.8rem;
    }

}