.sub-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 3.5rem;
    font-size: 1.3rem;
    border-bottom: 0.8px solid #e3e3e3c7;
    color: var(--dark-grey);
    margin: auto;
    max-width: 155rem;

}


.sub-nav a {
    color: var(--dark-grey);
    padding: 0 0.6rem;
    border-right: 1px solid var(--dark-grey)
}

.sub-nav a>i,
.sub-nav span {
    color: var(--dark-grey);
}

.sub-nav a:hover,
.sub-nav a>i:hover {
    color: #474646
}

.sub-nav a:last-of-type {
    border: none;
}

.navbar {
    height: auto;
    position: sticky;
    z-index: 1;
    top: 0;
    margin: auto;
    max-width: 155rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.2rem 2rem;
}


.pointer-cursor {
    cursor: pointer;
}

.navbar .logo {
    width: 16rem;
    height: 5rem;
}

.badge-icon>.badge-count {
    font-size: 1.4rem
}

.store-link {
    color: var(--primary-color);
    font-size: 2rem;

}

.store-link:hover {
    color: #1f70c2;
}

.my-icon {
    font-size: 2.5rem;
    color: #0f0e0e;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 970px) {
    .navbar .nav-links>li {
        margin-left: 8px;
        margin-right: 9px;
    }

    .navbar .nav-links>li:last-child {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 900px) {
    .search-box {
        order: 1;
        width: 100%;
        margin-top: 5px;
    }

    .search-box>i {
        font-size: 1.4rem;
    }

    .search-box>input {
        font-size: 1.4rem;
    }

    .navbar .logo {
        width: 12rem;
        height: 4rem;
    }

    .sub-nav {
        display: none;
    }

}