.ratings {
    flex-direction: row;
    background-color: rgba(95, 158, 210, 0.3);
    padding: 2px;
    border-radius: 4px;
}

.ratings>label {
    color: #FF9529;
    font-size: 2rem;
}

.ratings>label::before {
    content: none;
}

.ratings>.rating_num {
    font-size: 1.5rem;
}

.card-body>.card-price {
    margin: 0.7rem
}

.card-price {
    font-size: 1.8rem;
}

.price_and_rating_container {
    display: flex;
    justify-content: space-between;
    margin: 1.2rem 0;
}

.card-vertical {
    height: 33.1rem;
    box-shadow: 0 0 15px var(--card-shadow-dark);
}

@media only screen and (max-width: 870px) {
    .card-vertical {
        width: 20rem;
        height: 26rem;
    }

    .card-vertical>img {
        height: 9.6rem
    }

    .card-header {
        font-size: 1.2rem;
    }

    .btn {
        font-size: 1.3rem;
        padding: 0.8rem 1.2rem;
    }

    .card-footer .btn-large {
        width: 12rem
    }

    .card-price {
        font-size: 1.5rem;
    }

    .ratings {
        padding: 0.8px
    }

    .ratings>.rating_num {
        font-size: 1.3rem
    }

}

@media only screen and (max-width: 480px) {

    .btn {
        font-size: 1.1rem;
        padding: 0.8rem 1.2rem;
    }

    .card-vertical {
        width: 18.5rem;
        height: 23rem;
    }

    .card-vertical>img {
        height: 8.6rem
    }

    .card-header {
        font-size: 1rem;
    }

    .card-price {
        font-size: 1.3rem;
    }

    .ratings {
        padding: 0.7px
    }

    .ratings>.rating_num {
        font-size: 1.1rem
    }

    .card-footer .btn-large {
        width: 10rem
    }

    .price_and_rating_container {
        margin: 0.2rem 0;
    }
}
